<div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>RIA projekt</h1> 
                <p>Prosty CMS przedstawiający możliwości AngularJS połączonego z PHP i MySQL</p> 
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="item in articles.data.articles" class="col-md-4">
            <h2>
                {{ item.name }}
            </h2>
            <p>
                {{ item.content | limitTo: 40 }}...
            </p>
            <a class="btn btn-primary btn-block" href="#/article/{{ item.link }}">Czytaj dalej</a>
        </div>
    </div>
</div>